extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Cameron Douthitt

        p Full Stack JavaScript Developer


        .about-bio

          p I am well versed on many front end and back end programming languages. I have 5+ years of experience with projects full life cycle as a developer, project manager, and product manager.


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug
          li SQL 
          li XSLT 

        h6 Contact Info

        ul
          li 630-606-7851
          li cgdouthitt@gmail.com

        a.btn-link(href='https://www.linkedin.com/in/cameron-douthitt-08ba65157', target="_blank") LinkedIn
        a.btn-link(href='https://github.com/cgdouthitt', target="_blank") GitHub

    nav.nav
      a(href='/')
        span &larr;
        |  Back