extends layout.pug

block content
  nav.nav
      a(href='/')
        span &larr;
        |  Back

  article.portfolio-intro
         
    h1= `Not Found`
    h2= `Error status code: ${err.status} - Page Not Found`
    p.not-found-p= `${err.message}`
